<!DOCTYPE HTML>

<% include ../partials/header %>

    <h1>Voce esta em Patrimonios Imateriais!!</h1>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/patrimonioImaterial">Patrimonio Imaterial</a></li>
    </ul>

    <% include ../partials/footer %>