<!DOCTYPE HTML>

<% include ../partials/header %>

    <h1>Voce esta em Eventos!!</h1>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/evento">Evento</a></li>
    </ul>

    <% include ../partials/footer %>