<!DOCTYPE HTML>

<% include ../partials/header %>

    <h1>Voce esta em Patrimonios Materiais!!</h1>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/patrimonioMaterial">Patrimonio Material</a></li>
    </ul>

    <% include ../partials/footer %>