<!DOCTYPE HTML>

<% include ../partials/header %>

    <h1>Voce esta na HOME!!</h1>

    <ul>
        <li><a href="/comercio">Comercio</a></li>
        <li><a href="/evento">Evento</a></li>
        <li>Patrimonio
            <ul>
                <li><a href="/patrimonioMaterial">Material</a></li>
                <li><a href="/patrimonioImaterial">Imaterial</a></li>
            </ul>
        </li>
        <li><a href="/servicos">Servicos</a></li>
        <li><a href="/contatos">Contatos</a></li>
    </ul>

    <% include ../partials/footer %>