<!DOCTYPE HTML>

<% include ../partials/header %>

    <h1>Voce esta em Comercios!!</h1>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/comercio">Comercio</a></li>
    </ul>
    <% include ../partials/footer %>